@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Volvo - Teste </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo a Volvo</h2>
        <p>
            Esta é uma aplicação .NET utilizada para teste.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Camargo e Campos Recursos Humanos</h2>
        <p>Este teste foi enviado em 17/05/2019</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Contato &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
        <p>O código fonte desta aplicação está disponível no GitHub.</p>
        <p><a class="btn btn-default" href="www.ccrh.com.br">See project source code &raquo;</a></p>
    </div>
</div>